# dplyr

- Recommended Readings
    - [Python for Data Analysis](https://www.amazon.com/gp/product/1491957662/ref=as_li_tl_nodl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1491957662&linkCode=as2&tag=ledoux-20&linkId=eff92247940c967299befaed855c580a)
    - [Python for Data Analysis GitHub](https://github.com/wesm/pydata-book)
    - [How to get sample datasets in Python](https://stackoverflow.com/questions/28417293/sample-datasets-in-pandas)
- Alternative methods in Python to deal with data exploration and manipulation
- These methods are to replicate what `dplyr` in R is capable of

In [28]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [29]:
iris = sm.datasets.get_rdataset('iris').data

In [30]:
## Quick way to access R datasets
pd.DataFrame.head(iris)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
## DataFrame attributes
iris.shape
iris.columns
iris.index
iris.info()
iris.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## `dplyr` Key Verbs

- `filter()`
- `select()`
- `mutate()`
- `arrange()`
- `summarize()`
- `group_by()`

In [47]:
iris.isnull().sum()
iris['Species']=iris['Species'].astype('category')
iris.dtypes

Sepal.Length     float64
Sepal.Width      float64
Petal.Length     float64
Petal.Width      float64
Species         category
dtype: object

###  `filter()`

In [32]:
## filter
iris[iris['Sepal.Length']>5]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

In [33]:
iris.query('`Sepal.Length`>5')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

In [34]:
iris[(iris['Sepal.Length']>5) & (iris['Sepal.Width']>4)]

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

### `select()`

In [ ]:
## select
iris[['Sepal.Length', 'Species']]

In [35]:
## deselect columns
iris.drop(['Sepal.Length'], axis=1).head()

   Sepal.Width  Petal.Length  Petal.Width Species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa
4          3.6           1.4          0.2  setosa

In [ ]:
iris.filter(['Species','Sepal.Length'])

In [19]:
iris[['Species','Sepal.Length']]

KeyError: "['Sepal.Length'] not in index"

In [11]:
## extract one particular column
sepal_length = iris['Sepal.Length']
type(sepal_length)

pandas.core.series.Series

### `mutate()`

In [12]:
## mutate
iris['Species_new'] = iris['Species'].apply(lambda x: len(x))
iris['Species_initial'] = iris['Species'].apply(lambda x: x[:2].upper())
iris

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Species_new,Species_initial
0,5.1,3.5,1.4,0.2,setosa,6,SE
1,4.9,3.0,1.4,0.2,setosa,6,SE
2,4.7,3.2,1.3,0.2,setosa,6,SE
3,4.6,3.1,1.5,0.2,setosa,6,SE
4,5.0,3.6,1.4,0.2,setosa,6,SE
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9,VI
146,6.3,2.5,5.0,1.9,virginica,9,VI
147,6.5,3.0,5.2,2.0,virginica,9,VI
148,6.2,3.4,5.4,2.3,virginica,9,VI
149,5.9,3.0,5.1,1.8,virginica,9,VI

In [13]:
## mutate alternative 2
iris.assign(Specias_initial2 = iris['Species'].apply(lambda x: x.upper()))

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,Species_new,Species_initial,Specias_initial2
0,5.1,3.5,1.4,0.2,setosa,6,SE,SETOSA
1,4.9,3.0,1.4,0.2,setosa,6,SE,SETOSA
2,4.7,3.2,1.3,0.2,setosa,6,SE,SETOSA
3,4.6,3.1,1.5,0.2,setosa,6,SE,SETOSA
4,5.0,3.6,1.4,0.2,setosa,6,SE,SETOSA
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9,VI,VIRGINICA
146,6.3,2.5,5.0,1.9,virginica,9,VI,VIRGINICA
147,6.5,3.0,5.2,2.0,virginica,9,VI,VIRGINICA
148,6.2,3.4,5.4,2.3,virginica,9,VI,VIRGINICA
149,5.9,3.0,5.1,1.8,virginica,9,VI,VIRGINICA

### `group_by()` and `summarize()`

In [14]:
iris.groupby(by='Species').mean()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species_new
Species
setosa             5.006        3.428         1.462        0.246            6
versicolor         5.936        2.770         4.260        1.326           10
virginica          6.588        2.974         5.552        2.026            9

In [15]:
iris.filter(['Species','Sepal.Length']).groupby('Species').agg({'Sepal.Length':['mean','count','std']})

           Sepal.Length
                   mean count       std
Species
setosa            5.006    50  0.352490
versicolor        5.936    50  0.516171
virginica         6.588    50  0.635880

### `rename()`

In [16]:
iris
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species',
       'Species_new', 'Species_initial'],
      dtype='object')

In [17]:
iris = iris.rename(columns={'Sepal.Length':'SLen'})
iris

,SLen,Sepal.Width,Petal.Length,Petal.Width,Species,Species_new,Species_initial
0,5.1,3.5,1.4,0.2,setosa,6,SE
1,4.9,3.0,1.4,0.2,setosa,6,SE
2,4.7,3.2,1.3,0.2,setosa,6,SE
3,4.6,3.1,1.5,0.2,setosa,6,SE
4,5.0,3.6,1.4,0.2,setosa,6,SE
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,9,VI
146,6.3,2.5,5.0,1.9,virginica,9,VI
147,6.5,3.0,5.2,2.0,virginica,9,VI
148,6.2,3.4,5.4,2.3,virginica,9,VI
149,5.9,3.0,5.1,1.8,virginica,9,VI